@charset "UTF-8";

/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: var(--clr-text);

    text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
ul {
    padding: 0;
    margin: 0;
}

.cd-dropdown-wrapper {
    display: inline-block;
    position: relative;

    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-dropdown-trigger {
    display: block;
    position: relative;
    padding: 0 36px 0 20px;
    background-color: var(--clr-dark);
    color: var(--clr-light) !important;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
}

.cd-dropdown-trigger:hover {
    transition: 0.4s;
    color: #ffffff !important;
}

.cd-dropdown-trigger:hover {
    background-color: var(--clr-less-dark);
    color: var(--clr-light) !important;
}

.cd-dropdown-trigger::before,
.cd-dropdown-trigger::after {
    /* this is the arrow inside the dropdown trigger*/
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}

.cd-dropdown-trigger::before {
    right: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-dropdown-trigger::after {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (min-width: 1024px) {

    .cd-dropdown-trigger.dropdown-is-active {
        background-color: var(--clr-dark);
        color: white;
    }

    .no-touch .cd-dropdown-trigger.dropdown-is-active:hover {
        color: white;
        background-color: var(--clr-dark);
    }

    .cd-dropdown-trigger.dropdown-is-active::before,
    .cd-dropdown-trigger.dropdown-is-active::after {
        /* transform the arrow into a 'X' */
        width: 14px;
    }

    .cd-dropdown-trigger.dropdown-is-active::before {
        /* transform the arrow into a 'X' */
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
    }

    .cd-dropdown-trigger.dropdown-is-active::after {
        /* transform the arrow into a 'X' */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.cd-dropdown-content a,
.cd-dropdown-content ul a {
    padding: 5px;
    cursor: pointer;

}

@media only screen and (min-width: 768px) {


    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        height: 60px;
        line-height: 60px;
        transition: 0.6s;
    }
}


@media only screen and (min-width: 1024px) {


    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        height: 50px;
        transition: 0.6s;
    }
}


.cd-dropdown-content li:hover>button {
    transition: 0.6s;
}

.cd-dropdown-content li:hover>a {
    transition: 0.6s;
}

.cd-dropdown-content li:hover>a {
    background-color: var(--clr-less-dark);
    color: var(--clr-light) !important;
}

.cd-dropdown-content li:hover>button {
    background-color: var(--clr-less-dark);
    color: var(--clr-light) !important;
}

.cd-dropdown-content a,
.cd-dropdown-content ul a {
    padding: 0 20px;
}

.cd-dropdown {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111433;
    color: #ffffff;
    visibility: hidden;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s;
}

.cd-dropdown h2 {
    /* dropdown title - mobile version only */
    position: relative;
    z-index: 1;
    color: #585a70;
    background-color: #111433;
    border-bottom: 1px solid #242643;
}

.cd-dropdown .cd-close {
    /* 'X' close icon - mobile version only */
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.cd-dropdown .cd-close::after,
.cd-dropdown .cd-close::before {
    /* this is the 'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 20px;
    width: 2px;
    background-color: #ffffff;
}

.cd-dropdown .cd-close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-dropdown .cd-close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cd-dropdown.dropdown-is-active {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
    transition: transform 0.5s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
    .cd-dropdown .cd-close {
        top: 5px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown {
        position: absolute;
        top: calc(100% - 2px);
        /* reset style*/
        height: auto;
        width: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        background-color: #ffffff;
        color: #111433;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        opacity: 0;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    }

    .open-to-left .cd-dropdown {
        /* use the .open-to-left class if you want to open the dropdown on the left */
        right: 0;
        left: auto;
    }


    .cd-dropdown .cd-close {
        /* on desktop - hide title and 'X' */
        display: none;
    }

    .cd-dropdown.dropdown-is-active {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0.3s 0s, -moz-transform 0.3s 0s;
        transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
    }
}

.cd-dropdown-content,
.cd-dropdown-content ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    padding-top: 50px;
}

.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content ul li button {
    display: block;
    color: #ffffff;
    /* truncate text with ellipsis if too long */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top-width: 1px;
    border-color: #242643;
    border-style: solid;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 33px;
}

.cd-dropdown-content {
    padding: 0;
}

.cd-dropdown-content li button {
    color: #111433;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 33px;
    min-width: 100px;
    border-color: #ebebeb;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    background-color: white;
}

.cd-dropdown-content li:first-of-type>a,
.cd-dropdown-content ul li:first-of-type>a {
    border-top-width: 0;
}

.cd-dropdown-content li:last-of-type>a,
.cd-dropdown-content ul li:last-of-type>a {
    border-bottom-width: 1px;
}




.dropdown-is-active .cd-dropdown-content,
.dropdown-is-active .cd-dropdown-content ul {
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 768px) {

    .cd-dropdown-content,
    .cd-dropdown-content ul {
        padding-top: 60px;
    }


}

@media only screen and (min-width: 1024px) {

    .cd-dropdown-content,
    .cd-dropdown-content ul {
        padding-top: 0;
        overflow: visible;
    }

    .cd-dropdown-content a,
    .cd-dropdown-content ul a {
        color: #111433;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 33px;
        min-width: 100px;

        border-color: #ebebeb;
    }

}


@media only screen and (min-width: 1024px) {
    .cd-dropdown-content {
        /* reset mobile style */
        position: static;
        height: auto;
    }

    .cd-dropdown-content>li:last-of-type a {
        border-bottom: none;
    }
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: visible;
    }
}

@-moz-keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: visible;
    }
}

@keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: visible;
    }
}

.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
    display: none;
}
