.rightbar {
    background-color: #f8f8f8;
}

button {
    outline: none;
    border: none;
}

.dropdown-menu .dropdown-item.active span {
    color: black !important;
}

.title h4 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #1163991f;
    border-radius: 6px;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    padding-bottom: 13px;
}

.title h4:before {
    background: linear-gradient(to right, #116399, #38caef);
    content: '';
    display: block;
    height: 3px;
    width: 30%;
    margin-bottom: 5px;
}

.title h4:after {
    background: linear-gradient(to right, #116399, #38caef);
    content: '';
    display: block;
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 3px;
    width: 30%;
}

.bootstrap-select .dropdown-menu li a span.text {
    display: flex !important;
    color: black !important;
}

.plus {
    background-color: #fff;
    color: #116399;
    display: block;
    height: 30px;
    position: relative;
    text-decoration: none;
    width: 30px;
    outline: none;
    border: 1px solid #116399;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.plus i {
    position: relative;
    z-index: 1;
}


.plus .inner {
    background-color: #116399;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.plus:hover {
    color: #fff;
}

.plus:hover .inner {
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
}

.remove {
    background-color: #fff;
    color: #dc3545;
    display: block;
    height: 30px;
    position: relative;
    text-decoration: none;
    width: 30px;
    outline: none;
    border: 1px solid #dc3545;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.remove i {
    position: relative;
    z-index: 1;
}


.remove .inner {
    background-color: #dc3545;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.remove:hover {
    color: #fff;
}

.remove:hover .inner {
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
}





.submit-button,
.print-button,
.delete-button {
    /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace; */
    font-size: 17px;
    /* padding: 1em 2.7em; */
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3));
}

.label {
    position: relative;
    top: -1px;
}

.submit-button .transition,
.print-button .transition,
.delete-button .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    color: white !important;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.submit-button:hover .transition,
.print-button:hover .transition,
.delete-button:hover .transition {
    width: 14em;
    height: 14em;
}

.submit-button:active,
.print-button:active,
.delete-button:active {
    transform: scale(0.97);
}

.submit-button .transition {
    background-color: #28a745;
}

.print-button .transition {
    background-color: #116399;
}

.delete-button .transition {
    background-color: #dc3545;
}
