/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-middle);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-less-dark);
}

.rightbar {
    background-color: var(--clr-light);
}

.topbar {
    background-color: var(--clr-dark);
    color: var(--clr-light) !important;
}

.topbar a {
    color: var(--clr-light) !important;
    border-color: var(--clr-light) !important;
}

.topbar a:hover {
    color: var(--clr-dark) !important;
    background-color: var(--clr-middle) !important;
    border-color: var(--clr-light) !important;
}

.topbar .dropdown-menu {
    background-color: var(--clr-less-dark) !important
}

.topbar a input {
    color: var(--clr-light) !important;
}

.submenu__button {
    padding: 5px 9px;
    display: block;
    background-color: transparent;
    border-bottom: 1px solid #f7f7f7;
    border-left: 3px solid gray;
    border-top: 1px solid #f7f7f7;
    color: var(--clr-light);
    text-align: left;
    transition: 0.2s;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
}

button {
    outline: none;
    border: none;
}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

.dropdown-menu .dropdown-item.active span {
    color: black !important;
}

.title h4 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--clr-middle);
    border-radius: 6px;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    padding-bottom: 13px;
}

.title h4:before {
    background: linear-gradient(to right, var(--clr-middle), var(--clr-dark));
    content: '';
    display: block;
    height: 3px;
    width: 30%;
    margin-bottom: 5px;
}

.title h4:after {
    background: linear-gradient(to right, var(--clr-middle), var(--clr-dark));
    content: '';
    display: block;
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 3px;
    width: 30%;
}

.bootstrap-select .dropdown-menu li a span.text {
    display: flex !important;
    color: black !important;
}

.plus,
.remove-ci-button,
.print-ci-button {
    background-color: var(--clr-light);
    display: block;
    height: 30px;
    position: relative;
    text-decoration: none;
    width: 30px;
    outline: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.plus {
    color: var(--clr-dark);
    border: 1px solid var(--clr-less-dark);
}

.remove-ci-button {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.print-ci-button {
    color: #28a745;
    border: 1px solid #28a745;
}

.plus i,
.remove-ci-button i,
.print-ci-button i {
    position: relative;
    z-index: 1;
}


.plus .inner,
.remove-ci-button .inner,
.print-ci-button .inner {

    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.plus .inner {
    background-color: #116399;
}

.remove-ci-button .inner {
    background-color: #dc3545;
}

.print-ci-button .inner {
    background-color: #28a745;
}

.plus:hover,
.remove-ci-button:hover,
.print-ci-button:hover {
    color: #fff;
}

.plus:hover .inner,
.remove-ci-button:hover .inner,
.print-ci-button:hover .inner {
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
}

.remove {
    background-color: #fff;
    color: #dc3545;
    display: block;
    height: 30px;
    position: relative;
    text-decoration: none;
    width: 30px;
    outline: none;
    border: 1px solid #dc3545;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.remove i {
    position: relative;
    z-index: 1;
}


.remove .inner {
    background-color: #dc3545;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.remove:hover {
    color: #fff;
}

.remove:hover .inner {
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
}





.submit-button,
.print-button,
.delete-button {
    /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace; */
    font-size: 17px;
    /* padding: 1em 2.7em; */
    font-weight: 500;
    background: var(--clr-dark);
    color: var(--clr-light);
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3));
}

.label {
    position: relative;
    top: -1px;
}

.submit-button .transition,
.print-button .transition,
.delete-button .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    color: white !important;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.submit-button:hover .transition,
.print-button:hover .transition,
.delete-button:hover .transition {
    width: 14em;
    height: 14em;
}

.submit-button:active,
.print-button:active,
.delete-button:active {
    transform: scale(0.97);
}

.submit-button .transition {
    background-color: #28a745;
}

.print-button .transition {
    background-color: #116399;
}

.delete-button .transition {
    background-color: #dc3545;
}

.bootstrap-select {
    min-width: 120px !important;
}

.sidebar {
    background-color: var(--clr-less-dark);

}


/* table */


table {
    border-collapse: separate !important;
    border-spacing: 2px !important;
    margin: 0;
    /* Adjust this value to change the gap size */
}


table.table-bordered.dataTable tbody td {
    color: var(--clr-dark);
    background-color: var(--clr-less-light);
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    border-radius: 4px !important;
}

#datatable-buttons_wrapper .row:first-child {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    top: 2px !important;
    background-color: #f7f7f7;
    padding: 2px 0;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #d5d5d5;
    align-items: center;
}

#datatable-buttons_wrapper .row:first-child .col-md-4 div label {
    margin: 0;
}


#datatable-buttons_wrapper .row:nth-child(3) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    top: 93% !important;
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #d5d5d5;
    align-items: center;
}

div.dataTables_wrapper div.dataTables_info {
    padding: 0 !important;
}

#datatable-buttons_wrapper .row .col-md-8:first-child {
    display: flex;
    justify-content: space-between;
}

#datatable-buttons_wrapper .row .col-md-8:first-child #datatable-buttons_length label {
    font-size: 14px;
    color: var(--clr-dark);
    margin-bottom: 0;
}

#datatable-buttons_wrapper .row .col-md-8:first-child .dt-buttons a {
    background-color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 21px;
    margin: 0px 3px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

#datatable-buttons_wrapper .row .col-md-8:first-child .dt-buttons a:hover {
    background-color: var(--clr-less-dark);
    border-color: var(--clr-less-dark);
    color: var(--clr-dark);
    font-weight: 500;
}



#datatable-buttons_wrapper .row:nth-child(2) {
    position: relative;
    z-index: 9999;
}

#datatable-buttons_wrapper .row:nth-child(2) .col-sm-12 {
    padding: 0 !important;
}

#datatable-buttons_wrapper .row:nth-child(3) .col-md-5 div {
    font-size: 14px !important;
}

.paginate_button {
    margin: 0 2px;
}

.paginate_button a {
    padding: 5px !important;
}

.paginate_button.previous a {
    background-color: var(--clr-light) !important;
    color: var(--clr-dark) !important;
    border-radius: 4px !important;
}

.paginate_button.next a {
    background-color: var(--clr-light) !important;
    color: var(--clr-dark) !important;
    border-radius: 4px !important;
}

.paginate_button.previous.disabled a {
    background-color: var(--clr-less-light) !important;
    color: var(--clr-dark) !important;
    border-radius: 4px !important;
}

.paginate_button.next.disabled a {
    background-color: var(--clr-less-light) !important;
    color: var(--clr-dark) !important;
    border-radius: 4px !important;
}

.paginate_button.active a {
    background-color: var(--clr-light) !important;
    color: var(--clr-dark) !important;
    border-radius: 4px !important;
    border: 1px solid var(--clr-light) !important;
    transition: 0.6s;
}

.paginate_button.active a:hover {
    background-color: var(--clr-light) !important;
    color: var(--clr-dark) !important;
    border-radius: 4px !important;
    border: 1px solid var(--clr-light) !important;
}


.animate__animated {
    z-index: 9;
}
