:root {
    --clr-body-bg: hsl(0 0% 93%);
    --clr-nav-bg: hsl(0 0% 99%);
    --clr-card-bg: hsl(0 0% 98%);
    --clr-text: hsl(0, 0%, 15%);
    --clr-heading: hsl(0 0% 40%);
    --clr-title: hsl(0 0% 40%);
}

body {
    background: var(--clr-body-bg) !important;
    background: var(--clr-nav-bg) !important;
    color: var(--clr-text) !important;
}

h1,
h2,
h3 {
    color: var(--clr-heading);
}

.card {
    background-color: var(--clr-card-bg);
}


.color__item {
    width: 30px;
    height: 30px;

    border-radius: 50%;
}



.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker>fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #fff;
    padding: 1rem 3rem;
    margin-inline: auto;
    border-radius: 0 0 1rem 1rem;
}

.color-picker input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type=radio]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type=radio]#light {
    --radio-color: gray;
}

.color-picker input[type=radio]#pink {
    --radio-color: pink;
}

.color-picker input[type=radio]#blue {
    --radio-color: blue;
}

.color-picker input[type=radio]#green {
    --radio-color: green;
}

.color-picker input[type=radio]#dark {
    --radio-color: #232323;
}

.pink {
    --clr-body-bg: hsl(310 50% 93%);
    --clr-nav-bg: hsl(310 50% 99%);
    --clr-card-bg: hsl(310 50% 98%);
    --clr-text: hsl(309, 50%, 15%);
    --clr-heading: hsl(310 50% 40%);
    --clr-title: hsla(310, 50%, 40%, 0.206);
}

.blue {
    --clr-body-bg: hsl(209 50% 93%);
    --clr-nav-bg: hsl(209 50% 99%);
    --clr-card-bg: hsl(209 50% 98%);
    --clr-text: hsl(208, 50%, 15%);
    --clr-heading: hsl(209 50% 40%);
    --clr-title: hsl(209, 50%, 40%, 0.206);
}

.green {
    --clr-body-bg: hsl(109 50% 93%);
    --clr-nav-bg: hsl(109 50% 99%);
    --clr-card-bg: hsl(109 50% 98%);
    --clr-text: hsl(109, 50%, 15%);
    --clr-heading: hsl(109 50% 40%);
    --clr-title: hsl(109,
            50%,
            40%,
            0.206);
}

.dark {
    --clr-body-bg: hsl(209, 49%, 10%);
    --clr-nav-bg: hsl(209 50% 19%);
    --clr-card-bg: hsl(209 50% 5%);
    --clr-text: hsl(209 50% 93%);
    --clr-heading: hsl(209 50% 80%);
    --clr-title: hsl(209,
            50%,
            40%,
            0.206);
}

:root:has(#pink:checked) {
    --clr-body-bg: hsl(310 50% 93%);
    --clr-nav-bg: hsl(310 50% 99%);
    --clr-card-bg: hsl(310 50% 98%);
    --clr-text: hsl(310 50% 15%);
    --clr-heading: hsl(310 50% 40%);
    --clr-title: hsl(310,
            50%,
            40%,
            0.206);
}

:root:has(#blue:checked) {
    --clr-body-bg: hsl(209 50% 93%);
    --clr-nav-bg: hsl(209 50% 99%);
    --clr-card-bg: hsl(209 50% 98%);
    --clr-text: hsl(209 50% 15%);
    --clr-heading: hsl(209 50% 40%);
    --clr-title: hsl(209,
            50%,
            40%,
            0.206);
}

:root:has(#green:checked) {
    --clr-body-bg: hsl(109 50% 93%);
    --clr-nav-bg: hsl(109 50% 99%);
    --clr-card-bg: hsl(109 50% 98%);
    --clr-text: hsl(109 50% 15%);
    --clr-heading: hsl(109 50% 40%);
    --clr-title: hsl(109,
            50%,
            40%,
            0.206);
}

:root:has(#dark:checked) {
    --clr-body-bg: hsl(209 50% 10%);
    --clr-nav-bg: hsl(209 50% 19%);
    --clr-card-bg: hsl(209 50% 5%);
    --clr-text: hsl(209 50% 93%);
    --clr-heading: hsl(209 50% 80%);
    --clr-title: hsl(209,
            50%,
            40%,
            0.206);
}

:root:has(#sunburn:checked) {
    --clr-dark: #152935;
    --clr-less-dark: #8fc8e9;
    --clr-middle: #f3d6c0;
    --clr-less-light: #ccd5d2;
    --clr-light: #fff9f3;
}

:root:has(#sunshine:checked) {
    --clr-dark: #212b0f;
    --clr-less-dark: #9ab867;
    --clr-middle: #f3d6c0;
    --clr-less-light: #d6c3ab;
    --clr-light: #fff9f3;
}

:root:has(#dust:checked) {
    --clr-dark: #5b484a;
    --clr-less-dark: #8b5943;
    --clr-middle: #d9bf9d;
    --clr-less-light: #e1d1b9;
    --clr-light: #e3e1e6;
}

:root:has(#night:checked) {
    --clr-dark: #2e2c39;
    --clr-less-dark: #afa3d5;
    --clr-middle: #f1bfc0;
    --clr-less-light: #a9ccc1;
    --clr-light: #e7e3f1;
}
